
<div class="container">

	<div class="d-flex justify-content-center h-100">

	
		<div class="card">
			

			<div class="card-header">
				<h3>Sign Up</h3>	

			</div>
			
			<div class="card-body">
                <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)" style="border:1px solid rgb(168, 161, 101)">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="
								fab fa-google"></i></span>
						</div>
						<input type="text" class="form-control"  ngModel name="email" id="email" placeholder="Email">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control"  ngModel name="name" id="name" placeholder="Name">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
							
						</div>
						<input type="password" class="form-control" ngModel name="password" id="password" placeholder="Password">
						  
					</div>
					<div class="input-group form-group ">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-book-open"></i></span>
							
					
						<select #roles name="eme"  id="set" ngModel name="set"  >
							<option disabled selected value default> -- select an option -- </option>
							<option value="ban">Ban view post</option>
							<option value="allow">Allow view post</option>

						  </select>	
					
					
						</div>
					</div>
					<div class="input-group form-group ">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
							
					

						  <select #roles name="eme"  id="admin" ngModel name="admin"  >
							<option disabled selected value default> -- select an option -- </option>
							<option value="admin">Admin</option>
							<option value="user">user</option>

						  </select>	
					
						</div>
					</div>
					
					<div class="form-group">
						<input type="submit"  value="Sign Up" name="signup_submit" id="saveData" class="btn float-right login_btn">
                       
					</div>

				</form>
			</div>
			<marquee direction="lefft"   style="color: white;text-align: center;">definitely not a sussy website</marquee>
		</div>
	</div>
</div>
<!-- werewrwerewrwerewrwe -->