.center{
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 1em;


}
.textarea {
    border: 1px #ddd solid;
    width: 400px;
    height: 120px;
    font: 9pt Consolas;
    width: 100%;
}
.right {
    float: right;
}
.a4{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 50px;
    cursor: pointer;
}
.cross{
    cursor: pointer;
    opacity: 0.5;
  
}
.cross:hover {
    opacity: 3;
  }

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    background-color: azure;
    cursor: pointer;
  }