


<div class="box">
  <table class="table table-bordered table-dark">
  <thead>
    <tr>

      <th scope="col">Email</th>
      <th scope="col">name</th>
      <th scope="col">password</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let z of account | async">
    <tr class="high" *ngIf= "z" >

      <td>{{z.email}}</td>
      <td>{{z.name}}</td>
      <td>{{z.password}}</td>
      <td class="high"> <a (click)="del(z.email)">Delete</a></td>
    </tr>


  </tbody>
</table>
</div>