<div class="box">
    <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="high">
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td class="high"><a>Edit</a></td>
      </tr>
      <tr class="high">
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td class="high"><a>Edit</a></td>
      </tr>
      <tr class="high">
        <th scope="row">3</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td class="high"><a>Edit</a></td>
      </tr>
      <tr class="high">
        <th scope="row">4</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td class="high"><a>Edit</a></td>
      </tr>

    </tbody>
  </table>
</div>